<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <ul>
      <li>メモ1</li>
      <li>メモ2</li>
      <li>メモ3</li>
      <li>メモ4</li>
    </ul>
    <p>追加
    <footer>@NMP</footer>
  </body>
</html>