<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <p><%= @title_list %></p>
    <p>追加
    <footer>@NMP</footer>
  </body>
</html>