<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモアプリ</h1>
    <h2><%= @title %></h2>
    <p><%= @body %></p>
    <form method="post" action="/memos/<%= @id %>">
      <input type="hidden", name="_method", value="DELETE">
      <input type="submit", value="削除">
    </form>
    <footer>@NMP</footer>
  </body>
</html>